<section>
  <div class="page-header">
    <h1>Cards</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="card in vm.cards" ui-sref="cards.view({ cardId: card._id })" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="card.label"></h4>
      <p class="list-group-item-text" ng-bind="card.type"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.cards.$resolved && !vm.cards.length">
    No cards yet, why don't you <a ui-sref="cards.create">create one</a>?
  </div>
  <div class="row">
    <div ng-repeat="card in vm.cards">
          <div class="col-sm-3" style="margin-bottom:12px;">
            <div class="fullCard small" ng-if="card.type =='Action'">
              <img src="https://s3.amazonaws.com/gettattlemisc/harvest/backs/card_bg_action.jpg" style="width:100%; height:auto;"/>
              <div class="cardLabel"><h1>{{card.label}}</h1></div>
              <div class="cardImg"><img src="{{card.img}}" alt="{{card.label}}"></div>
              <div class="cardCost">{{card.cost}}</div>
              <div class="cardRequires">{{card.requires}}</div>
              <div class="cardText">{{card.text}}</div>
            </div>
            <div class="fullCard small" ng-if="card.type =='Resource'">
              <img src="https://s3.amazonaws.com/gettattlemisc/harvest/backs/card_bg_resource.jpg" style="width:100%; height:auto;"/>
              <div class="cardOverlay"><img src="{{card.img}}" alt="{{card.label}}"></div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button ng-click="vm.drawCard()" class="btn btn-success">Draw Card</button>
    <br/>
    <div class="row">
      <div ng-repeat="card in vm.hand track by $index" class="col-sm-3 overlap" style="margin-bottom:12px;">
        <div class="fullCard small" ng-if="card.type =='Action'">
          <img src="https://s3.amazonaws.com/gettattlemisc/harvest/backs/card_bg_action.jpg" style="width:100%; height:auto;"/>
          <div class="cardLabel"><h1>{{card.label}}</h1></div>
          <div class="cardImg"><img src="{{card.img}}" alt="{{card.label}}"></div>
          <div class="cardCost">{{card.cost}}</div>
          <div class="cardRequires">{{card.requires}}</div>
          <div class="cardText">{{card.text}}</div>
        </div>
        <div class="fullCard small" ng-if="card.type =='Resource'">
          <img src="https://s3.amazonaws.com/gettattlemisc/harvest/backs/card_bg_resource.jpg" style="width:100%; height:auto;"/>
          <div class="cardOverlay"><img src="{{card.img}}" alt="{{card.label}}"></div>
        </div>
      </div>
    </div>
  </div>
</section>
